* {
  font-size: 15px;
  color: blue;
}

.container {
  display: inline-grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
}

.header {
  background-color: aqua;
}

.sidebar {
  background-color: aquamarine;
}

.projects {
  background-color: darkcyan;
}

.announcements {
  background-color: lightgreen;
}